* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", system-ui;
}

body {
  background-color: var(--background-bg);
  font-size: 14px;
}

:root {
  --background-bg: hsl(0, 0%, 8%);
  --background-card: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --text: hsl(75, 94%, 57%);
}


a {
  display: block;
  text-decoration: none;
  background-color: var(--background-card);
  color: var(--white);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
}

img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
}

h1 {
  color: var(--white);
  font-weight: normal;
  margin-bottom: 8px;
}

p {
  margin-bottom: 24px;
  color: var(--white);
  font-size: 12px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
  border-radius: 8px;
  background-color: hsl(0, 0%, 12%);
  padding: 30px;
  width: 280px;
}

.description {
  color: var(--text);
  font-weight: bold;
}
